[Unit]
Description=Minecraft Server
After=network.target

[Service]
Type=simple
User=minecraft
Group=minecraft
WorkingDirectory=/path/to/minecraft/server/folder
ExecStart=/path/to/start/script
ExecStop=/path/to/stop/script
Restart=always

[Install]
WantedBy=default.target
